*{
    padding: 0px;
    margin: 0px;
}
body{
    background: #FFFFFF
}
header {
    background: #3b5998;
    height: 82px;
    border-bottom: 1px solid #00008B;
}
.header-block {
    width: 992px;
    margin: 0 auto;
    padding-top: 20px;
}
 .logo {
    width: 50%;
    float: left;
 }
 .facebook-login {
    width: 50%;
    float: left;
 }
 .logo img {
    width: 195px;
    padding-top: 10px;
    padding-bottom: 20px;
 }
 .header-block label {
    color: #ffffff65;
 }
 .email {
    float: left;
 }
 .email label {
    padding-bottom: 10px; 
    color: antiquewhite;
 }
 email input[type="text"] {
    height: 20px;
    width: 150px;
    border: 1px solid #1d2a5b ;
 }
 .password {
    float: left;
    margin-left: 15px; 
 }
 password input [type="password"] {
    height: 20px;
    width: 150px;
 }
 .password a {
    color: #8fb1d8;
    text-decoration: none;
 }
 .password label {
    padding-bottom: 10px;
    color:antiquewhite;
 }
 .login-button {
    float: left;
    margin-top: 20px; 
    margin-left: 20px;
 }
 .login-button input[type="submit"] {
    background: #4267b2;
    float: left;
    border: 1px solid #29487d;
    border-radius: 2px;
    color: #FFFFFF;
    height: 20px;
    width: 50px;
}
.clearfix {
    clear: both;
}
.content-block {
    width: 992px;
    margin: 0 auto;
}
.facebook-connect {
    margin-top: 50px;

}
.facebook-connect p {
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
}
.facebook-connect img {
    margin-top: 10px;
    margin-bottom: 20px;
}
.create-account {
    float:right; 
    font-family: Arial;
    width: 50%;
}
.content-block {
    background: linear-gradient(#FFFFFF, #d9ddeb);
    overflow: hidden;
}
.create-account h2 {
    font-size: 40px;
    float: right;
}
.create-account .free {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form {
    width: 180px;
    height: 35px;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 3px;
    border: none;
    border: 1px solid #95a5a6;
    padding-left: 10px;
    font-size: 20px;

}
.form2 {
    width: 380px;
    height: 35px;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 20px;
    border: none;
    border: 1px solid #95a5a6;
    margin-left: 5px;
    margin-top: 10px;

}
.dropdown {
    width: 70px;
    height: 30px;
}